.user_container{
    .user_header{
        height: 20px;
        line-height: 20px;
        padding: 20px 0;
        box-sizing: content-box;
        border-bottom: 2px solid #f9f9f9;
        position: relative;
        h3{
            float: left;
        }
    }

}