<div class="user_container">
    <div class="user_header">
        <h3>VIP USER</h3>
        <alarm-num class="alarm_num"></alarm-num>
    </div>
    <div class="user_content">
        <div class="warning_info">
            <p class="warning_info_num">
                1000
                <i class="anticon anticon-arrow-up"></i>
            </p>
            <p class="warning_info_text">
                Warning Alarms
            </p>
        </div>
        <div class="critical_info">
            <p class="critical_info_num">
                1000
                <i class="anticon anticon-arrow-up"></i>
            </p>
            <p class="critical_info_text">
                Critical Alarms
            </p>
        </div>
    </div>
</div>