*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
}
header{
    text-align: center;
    height: 54px;
    line-height: 54px;
}
.control-btn{
    padding: 0 20px;
}
.content-table{
    padding: 0 20px;
    margin-top: 20px;
}