.indexpage{
    .echarts_topline_container{
        height: 120px;
        /*margin: 0 0.06rem;*/
    }
    .middle_container{
        height: 280px;
    }
    .echarts_map_container {
        height: 400px;
    }
}