.indexpage{
    .middle_bottom{
        background-color: #f0f2f5;
        padding: 20px 0.2rem;
        .middle_container{
            height: 280px;
            .user_module, .group_module, .sp_module{
                background-color: #fff;
                width: 100%;
                height: 280px;
                padding: 0 0.2rem;
            }
        }
        .echarts_map_container {
            height: 400px;
        }
    }
}