<div class="indexpage">
    <div nz-row class="top_container">
        <div nz-col [nzSpan]="24">
            <top-line [xAxisData]="xAxisData" [seriesData]="seriesData"></top-line>
        </div>
    </div>
    <div class="middle_bottom">
        <div nz-row class="middle_container" [nzType]="'flex'" [nzJustify]="'space-between'">
            <div nz-col [nzSpan]="3">
                <div class="user_module">
                    <vip-user></vip-user>
                </div>
            </div>
            <div nz-col [nzSpan]="9">
                <div class="group_module">
                    
                </div>
            </div>
            <div nz-col [nzSpan]="11">
                <div class="sp_module">
                    
                </div>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="8">
                col-8
            </div>
            <div nz-col [nzSpan]="8">
                <div echarts [options] = "mapOption" [loading]="showloading" class="echarts_map_container"></div>
            </div>
            <div nz-col [nzSpan]="8">
            col-8
            </div>
        </div>
    </div>
</div>
