.home{
    margin: 0;
    padding: 0;
    list-style: none;
    .content{
        height: calc( 100Vh - 130px );
    }
}
:host ::ng-deep .logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 28px 16px 0;
    float: left;
}