<div class="home">
    <nz-layout class="layout">
      <nz-header>
        <div class="logo"></div>
        <nz-tabset class="tabs" [nzType]="'card'">
            <nz-tab *ngFor="let tab of tabs">
                <ng-template #nzTabHeading>
                    <div class="tab-item">
                        {{tab.name}}
                        <i class="anticon anticon-cross" (click)="closeTab(tab)"></i>
                    </div>
                </ng-template>
                <div class="home_container">
                    <nz-layout style="padding:0 24px 24px">
                        <nz-breadcrumb style="margin:12px 0; line-height: 12px">
                            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                            <nz-breadcrumb-item>List</nz-breadcrumb-item>
                            <nz-breadcrumb-item>App</nz-breadcrumb-item>
                        </nz-breadcrumb>
                        <nz-content class='content' style="background:#fff; padding: 24px;">Content {{tab.name}}</nz-content>
                    </nz-layout>
                </div>
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <i class="ant-tabs-new-tab anticon anticon-plus" (click)="newTab()"></i>
            </ng-template>
        </nz-tabset>
      </nz-header>
      <nz-layout>
        <nz-sider [nzWidth]="200" style="background:#fff">
            <!-- <ul nz-menu [nzMode]="'inline'" style="height:100%">
                <li nz-submenu *ngFor="let menuItem of menus" *ngIf="menuItem.children">
                    <span title><i class="anticon anticon-user"></i>{{menuItem.name}}</span>
                    <ul *ngIf="menuItem.children">
                        <li nz-submenu *ngFor="let childItem of menuItem.children">
                            <span title>{{childItem.name}}</span>
                            <ul *ngIf="childItem.children">
                                <li nz-menu-item *ngFor="let item of childItem.children">
                                    <span title>{{item.name}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <div *ngFor="let menuItem of menus">
                <div class="level0" *ngIf="menuItem.children && menuItem.children.length >= 1">
                    <span>{{menuItem.name}}</span>
                    <div *ngFor="let childItem of menuItem.children">
                        <div class="level1" *ngIf="childItem.children && childItem.children.length >= 1">
                            <span>{{childItem.name}}</span>
                            <div class="level2" *ngFor="let item of childItem.children">
                                <span>{{item.name}}</span>
                            </div>
                        </div>
                        <span *ngIf="!childItem.children || childItem.children.length < 1">
                            {{childItem.name}}
                        </span>
                    </div>
                </div>
                <span *ngIf="!menuItem.children || menuItem.children.length < 1">
                    {{menuItem.name}}
                </span>
            </div>
        </nz-sider>
        
      </nz-layout>
    </nz-layout>
</div>