<div class="home">
    <nz-layout class="layout">
      <nz-header>
        <div class="logo"></div>
        <nz-tabset class="tabs" [nzType]="'card'">
            <nz-tab *ngFor="let tab of tabs">
                <ng-template #nzTabHeading>
                    <div class="tab-item">
                        {{tab.name}}
                        <i class="anticon anticon-cross" (click)="closeTab(tab)"></i>
                    </div>
                </ng-template>
                <div class="home_container">
                    <nz-layout style="padding:0 24px 24px">
                        <nz-breadcrumb style="margin:12px 0; line-height: 12px">
                            <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                            <nz-breadcrumb-item>List</nz-breadcrumb-item>
                            <nz-breadcrumb-item>App</nz-breadcrumb-item>
                        </nz-breadcrumb>
                        <nz-content class='content' style="background:#fff; padding: 24px;">Content {{tab.name}}</nz-content>
                    </nz-layout>
                </div>
            </nz-tab>
            <ng-template #nzTabBarExtraContent>
                <i class="ant-tabs-new-tab anticon anticon-plus" (click)="newTab()"></i>
            </ng-template>
        </nz-tabset>
      </nz-header>
      <nz-layout>
        <nz-sider [nzWidth]="200" style="background:#fff" class="menus_content">
            <!-- <ul nz-menu [nzMode]="'inline'" style="height:100%">
                <li nz-submenu *ngFor="let menuItem of menus" *ngIf="menuItem.children">
                    <span title><i class="anticon anticon-user"></i>{{menuItem.name}}</span>
                    <ul *ngIf="menuItem.children">
                        <li nz-submenu *ngFor="let childItem of menuItem.children">
                            <span title>{{childItem.name}}</span>
                            <ul *ngIf="childItem.children">
                                <li nz-menu-item *ngFor="let item of childItem.children">
                                    <span title>{{item.name}}</span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul> -->
            <div *ngFor="let menuItem of menus">
                <div *ngIf="menuItem.children && menuItem.children.length >= 1">
                    <span (click)="menuItem._level = !menuItem._level" class="down_arrow">
                        <span class="item0"></span>
                        <span class="menu_world cursor">{{menuItem.name}}</span>
                        <i *ngIf="!menuItem._level" class="anticon anticon-down"></i>
                        <i *ngIf="menuItem._level" class="anticon anticon-up"></i>
                    </span>
                    <div *ngIf="menuItem._level">
                        <div *ngFor="let childItem of menuItem.children">
                            <div *ngIf="childItem.children && childItem.children.length >= 1">
                                <span class="item1"></span>
                                <span (click)="childItem._level = !childItem._level">
                                    <span class="menu_world cursor">{{childItem.name}}</span>
                                    <i *ngIf="!childItem._level" class="anticon anticon-down"></i>
                                    <i *ngIf="childItem._level" class="anticon anticon-up"></i>
                                </span>
                                <div *ngIf="childItem._level">
                                    <div *ngFor="let item of childItem.children">
                                        <span class="item2"></span>
                                        <span class="menu_world">{{item.name}}</span>
                                    </div>
                                </div>
                            </div>
                            <span *ngIf="!childItem.children || childItem.children.length < 1">
                                <span class="item1"></span>
                                <span class="menu_world">{{childItem.name}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <span *ngIf="!menuItem.children || menuItem.children.length < 1" (click)="onClick(menuItem.name)">
                    <span class="item0"></span>
                    <span class="menu_world">{{menuItem.name}}</span>
                </span>
            </div>
        </nz-sider>
        
      </nz-layout>
    </nz-layout>
</div>